[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=kmclaughlin
Group=kmclaughlin
WorkingDirectory=/home/kmclaughlin/app/src
Environment="PATH=/home/kmclaughlin/app/venv/bin"
EnvironmentFile=/home/kmclaughlin/.env
ExecStart=/home/kmclaughlin/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target